.buttonContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    padding-left: 15%;
    padding-right: 15%;
}
.button {
    padding-top: 6px;
    padding-bottom: 6px;
    height: 80px;
    width: 90%
}