<ion-header [translucent]="true" scroll-y="false">
    <ion-toolbar>
        <ion-toolbar>
            <ion-buttons slot="start">
                <ion-back-button></ion-back-button>
            </ion-buttons>
        </ion-toolbar>
    </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
    <ion-content>
        <div class="outerContainer">
            <div class="innerContainer">
                <h3 class="textContainer">How many times you have searched for a picture of a dog:</h3>
                <h1 class="value">{{dogCounter}}</h1>
            </div>

            <div class="innerContainer">
                <h3 class="textContainer">How many times you have searched for a picture of a cat:</h3>
                <h5 class="value">{{catCoutner}}</h5>
            </div>

            <div class="innerContainer">
                <h3 class="textContainer">How many times you have searched for a picture of a bird:</h3>
                <h5 class="value">{{birdCounter}}</h5>
            </div>
        </div>
    </ion-content>
</ion-content>